<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del pokemon</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card class="borde-dorado">
    <ion-card class="fondo-carta">
      <ion-card>
        <ion-card-title class="borde-dorado">{{name}}</ion-card-title>
      </ion-card>
      <ion-card class="borde-dorado">
        <ion-card>
          <img alt="" src="{{imageurl}}" />
        </ion-card>
      </ion-card>
      
      <ion-card-header>

        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        Here's a small text description for the card content. Nothing more, nothing less.
      </ion-card-content>
    </ion-card>
  </ion-card>

</ion-content>
